#viewport{
    margin: 100px auto;
}

table { 
    border-spacing: 0;
}

#tvp td{
    border: 1px black solid;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    font-size: 0.5em;
    color: white;
    overflow: hidden;
}

td.current{
    background-color: yellow !important;
    color: red !important;
}