body {
    font-family: 'Ubuntu Mono', monospace;
    background: #333;
    user-select: none !important;
    font-size: 14px;
    color: white;
    mix-blend-mode: multiply;
    overflow: hidden;
    padding: 30px;
    min-width: 1100px;
}

#hugeheading {
    font-size: 12em;
    position: absolute;
    width: 100%;
    text-align: center;
    left: calc(0px + 0.1em);
}

#by2kinc {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    top: calc(4em);
    clip: unset;
    transform: none !important;
}

#player {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 2;
}

#box {
    border: 2px solid #fff;
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1.5s;
    transition-timing-function: ease-in-out;
    transform-origin: 50% 50%;
    -webkit-animation: glow 2.5s ease-in-out infinite alternate;
    -moz-animation: glow 2.5s ease-in-out infinite alternate;
    animation: glow 2.5s ease-in-out infinite alternate;
}

.bullet {
    background: url(https://docs.google.com/drawings/d/e/2PACX-1vRvOD7wfLZjsv5S_O6hurMZnJO4u0vwxCyvgjk63VUl5phcveesBNzOi9PLn4gNSFir4lFm5sPxnFd8/pub?w=360&h=360);
    height: 18px;
    width: 18px;
    z-index: 3;
    position: absolute;
}

.card {
    border: 2px solid;
    padding: 10px;
    max-width: 250px;
    overflow-x: auto;
    z-index: 4;
    background: #333;
    -webkit-animation: glow 2.5s ease-in-out infinite alternate;
    -moz-animation: glow 2.5s ease-in-out infinite alternate;
    animation: glow 2.5s ease-in-out infinite alternate;
}

.card div {
    margin: 0;
}

.left-side {
    float: left;
    position: relative;
}

.right-side {
    float: right;
    position: relative;
}

.heading {
    font-size: 18px;
}

#log {
    overflow: hidden;
    max-height: 100px;
    max-width: 250px;
}

#name:hover {
    background: #fff;
    color: #333;
}

#name:focus {
    background: #fff;
    color: #333;
}

#enemy {
    position: absolute;
    display: none;
    height: 20px;
    width: 20px;
    z-index: 2;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#enemy-health {
    position: absolute;
    text-align: center;
    display: none;
}

#fight-health {
    position: absolute;
    text-align: center;
    display: none;
}

#startscreen {
    z-index: 1000;
    background: #333;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
}

.shaded {
    color: cyan;
}

.clickable {
    cursor: pointer;
}

.clickable::before {
    content: '[';
}

.clickable::after {
    content: ']';
}

.clickable:hover {
    background: #fff;
    color: #333;
}

.clickable:hover::before {
    content: '[ ';
}

.clickable:hover::after {
    content: ' ]';
}

td {
    -border-radius: 5px;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1em;
}

td.current {
    background-color: black !important;
}

#tooltip {
    display: none;
    position: absolute;
    z-index: 1000;
    box-shadow: 1px 1px 6px 0px #333333;
    max-width: 120px;
}

hr {
    border: 1px solid;
    margin-left: -10px;
    margin-right: -10px;
}

#credits {
    font-size: 3em;
    position: absolute;
    display: none;
    background: black;
    color: white;
    width: 100%;
    height: 300vh;
    line-height: 300vh;
    padding: 1em 0;
    left: 0;
    z-index: 100000;
    text-align: center;
}

#credits>span {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}

@keyframes creditsroll {
    from {
        top: 0;
    }

    to {
        top: -200vh;
    }
}

#loading {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #333;
    z-index: 100000;
    text-align: center;
    font-size: 1.5em;
}

.inv-slot {
    border: 2px solid #fff;
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0.1px 0;
}

.inv-slot-label {
    z-index: 100;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: initial;
}

#inventory-slots {
    margin-top: 1em;
    max-height: 44px;
}

#hp::before {
    content: 'HP: ';
}

#energy::before {
    content: 'ENERGY: ';
}

#ammo-used::before {
    content: 'AMMO USED: ';
}

#steps-taken::before {
    content: 'STEPS TAKEN: ';
}

html.effects-on * {
    text-shadow: 0px 0.7px 0.7px rgba(255, 0, 0, 0.7), 
    0px -1.1px 0.7px rgba(0, 0, 255, 0.7),
    0px 0px 0.3em white;
    animation: textShadow 1.6s infinite;
}

html.effects-on hr,
html.effects-on .card {
    box-shadow: 0px 0.7px 0.7px rgba(255, 0, 0, 0.7), 
    0px -1.1px 0.7px rgba(0, 0, 255, 0.7),
    0px 0px 0.3em white;
}

.modal {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
}

.modal-title {
    font-size: 2.5em;
}

.modal-title::before {
    color: #555;
    content: '* ';
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.26559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.08594;
    }

    60% {
        opacity: 0.20313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.37288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.36108;
    }

    100% {
        opacity: 0.24387;
    }
}

html {
    height: 100vh;
}
