@keyframes colors {
    0% {
        background-color: #ff073a;
    }
    20% {
        background-color: #ccff00;
    }
    40% {
        background-color: #39ff14;
    }
    60% {
        background-color: #1b03a3;
    }
    80% {
        background-color: #bc13fe;
    }
    100% {
        background-color: #ff073a;
    }
}

body {
    --color-main: black;
    --color-secondary: white;
    --color-background: black;
    font-family: 'Roboto Mono', monospace;
    user-select: none !important;
    font-size: 13px;
    color: white;
    mix-blend-mode: multiply;
    overflow: hidden;
    width: 92%;
    height: 100vh;
    padding: 30px;
    min-width: 1000px;
    background: #333;
    --dialogue-display: none;
    position: absolute;
    transition: top 80ms, left 80ms, bottom 80ms, right 80ms;
}

* {
    position: initial;
}

#hugeheading {
    font-size: 12em;
    position: absolute;
    width: 100%;
    text-align: center;
    left: calc(0px + 0.1em);
}

#by2kinc {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    top: calc(4em);
    clip: unset;
    transform: none !important;
}

#player {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 2;
}

#box {
    border: 2px solid #fff;
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.bullet {
    background: url(https://docs.google.com/drawings/d/e/2PACX-1vRvOD7wfLZjsv5S_O6hurMZnJO4u0vwxCyvgjk63VUl5phcveesBNzOi9PLn4gNSFir4lFm5sPxnFd8/pub?w=360&h=360);
    height: 18px;
    width: 18px;
    z-index: 3;
    position: absolute;
}

.card {
    border: 2px solid;
    padding: 10px;
    max-width: 250px;
    overflow-x: auto;
    z-index: 4;
    background: #333;
}

.card div {
    margin: 0;
}

.left-side {
    float: left;
    position: relative;
}

.right-side {
    float: right;
    position: relative;
}

.heading {
    font-size: 18px;
}

#log {
    overflow: hidden;
    max-height: 100px;
    max-width: 250px;
}

#name:hover {
    filter: saturate(1.5);
    border: 2px white solid;
    border-top: none;
}

#name:focus {
    filter: saturate(1.5);
    border: 2px white solid;
    border-top: none;
}

#enemy {
    position: absolute;
    display: none;
    height: 20px;
    width: 20px;
    z-index: 2;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#enemy-health {
    position: absolute;
    text-align: center;
    display: none;
}

#fight-health {
    position: absolute;
    text-align: center;
    display: none;
}

#startscreen {
    z-index: 1000;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.shaded {
    color: cyan;
}

.clickable {
    border: 2px white solid;
    border-radius: 4px;
    text-shadow: none!important;
    text-align: center;
    height: 1em;
    padding: 0 0.2em;
    background: black;
    cursor: pointer;
}

.clickable:hover {
    background: #fff;
    color: #000;
    opacity: 1!important;
}

td {
    width: 20px;
    height: 19px;
    text-align: center;
    font-size: 1em;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    line-height: 1em;
    box-sizing: border-box;
}

#tooltip {
    position: absolute;
    opacity: 0;
    box-shadow: 1px 1px 6px 0px #333333;
    max-width: 180px;
}

hr {
    border: 1px solid;
    margin-left: -10px;
    margin-right: -10px;
    background: white;
}

#credits {
    font-size: 3em;
    position: absolute;
    display: none;
    background: black;
    color: white;
    width: 100%;
    height: 300vh;
    line-height: 300vh;
    padding: 1em 0;
    left: 0;
    z-index: 100000;
    text-align: center;
}

#credits>span {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}

@keyframes creditsroll {
    from {
        top: 0;
    }
    to {
        top: -200vh;
    }
}

#loading {
    position: absolute!important;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #333;
    z-index: 1000000;
    text-align: center;
    font-size: 1.5em;
}

.inv-slot {
    border: 2px solid #fff;
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0.1px 0;
    background: #00000099;
    vertical-align: middle;
    top: -20px;
    margin: 0;
}

.inv-slot:nth-child(odd) {
    border-left: none;
    border-right: none;
}

.inv-slot-label {
    z-index: 100;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: initial;
}

#inventory-slots {
    position: absolute;
    top: calc(100vh - 6em);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#hp {
    border-bottom: 2px white solid;
    font-size: 1.8em;
    padding-left: 0.3em;
    background: #ffffff99;
    height: 2em;
    vertical-align: middle;
    line-height: 2em;
    margin: 0;
}

#hp::after {
    content: '💙';
    margin: 0;
    margin-left: 1em;
    background: repeating-linear-gradient(315deg, transparent, transparent 10px, #00000077 10px, #00000077 11px), repeating-linear-gradient(45deg, transparent, transparent 10px, #00000077 10px, #00000077 11px);
    animation: colors 100s infinite;
    background-opacity: 0.5;
    border-top-right-radius: 2px;
    display: block;
    float: right;
    height: 2em;
    padding: 0 0.3em;
}

#energy {
    border-bottom: 2px white solid;
    font-size: 1.8em;
    padding-left: 0.3em;
    background: #ffffff99;
    height: 2em;
    vertical-align: middle;
    line-height: 2em;
    margin: 0;
}

#energy::after {
    content: '⚡';
    margin: 0;
    margin-left: 1em;
    background: repeating-linear-gradient(315deg, transparent, transparent 10px, #00000077 10px, #00000077 11px), repeating-linear-gradient(45deg, transparent, transparent 10px, #00000077 10px, #00000077 11px);
    animation: colors 100s infinite;
    background-opacity: 0.5;
    border-top-right-radius: 2px;
    display: block;
    float: right;
    height: 2em;
    padding: 0 0.3em;
}

html.effects-on * {
    text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 255, 0.8), 0.5px 0.5px 0 rgba(0, 255, 0, 0.8), 0px 0px 0.3em white;
}

html.effects-on hr, html.effects-on .card {
    box-shadow: 0px 0.7px 0.7px rgba(255, 0, 0, 0.7), 0px -1.1px 0.7px rgba(0, 0, 255, 0.7), 0px 0px 0.3em white;
}

.modal {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
    border: 2px white solid;
    border-radius: 4px;
    background: black;
    text-shadow: none;
}

.modal-title {
    font-size: 2.5em;
}

.modal-title::before {
    color: #555;
    content: '* ';
}

html {
    height: 100vh;
}

.inv-slot-selected {
    border-color: yellow;
    background: rgba(255, 255, 0, 0.6)
}

td:hover {
    outline: 2px white solid;
}

#name {
    padding: 0.5em;
    font-size: 1.2em;
}

#inv-scroll-left {
    display: inline-block;
    font-size: 1.5em;
    width: 20px;
    cursor: pointer;
    text-align: center;
    height: 44px;
    position: relative;
    margin: 0;
    top: -26px;
}

#inv-scroll-right {
    display: inline-block;
    font-size: 1.5em;
    width: 20px;
    cursor: pointer;
    text-align: center;
    height: 44px;
    position: relative;
    margin: 0;
    top: -26px;
}

.grid-background {
    background: repeating-linear-gradient(315deg, transparent, transparent 10px, #00000077 10px, #00000077 11px), repeating-linear-gradient(45deg, transparent, transparent 10px, #00000077 10px, #00000077 11px);
    animation: colors 100s infinite;
}

/*.hide-without-display-none {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}*/

#inv-status-container {
    margin-top: -29px;
    text-align: center;
    padding: 0.2em 0;
    width: 252px;
}

.round-button {
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
    height: 0;
    padding: 0.1em;
    padding-bottom: 100%;
    padding-top: 0.2em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.7);
}

.clear {
    background: #00000099;
    border: 2px white solid;
}

#options-modal {
    height: 15em;
}

#mask {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 120%;
    height: 120vh;
    display: var(--dialogue-display);
    background: #00000099;
}

.modal-options {
    bottom: 0.8em;
    position: inherit;
    float: right;
}

#dialogue {
    position: absolute;
    height: calc(35vh + 28em);
    top: calc(65vh - 28em);
    left: 0;
    width: 100%;
    display: var(--dialogue-display);
    z-index: 1000000000;
}

#dialogue-main {
    background: black;
    height: 15em;
    width: 120%;
    left: -10%;
    position: absolute;
    font-size: 3em;
    padding: 1em;
    padding-left: 15%;
    top: 6.7em;
}

#dialogue-character-container {
    background: repeating-linear-gradient(315deg, transparent, transparent 15px, #00000077 15px, #00000077 20px);
    padding: 2em 4em;
    font-size: 5em;
    width: 120%;
    left: -10%;
    position: absolute;
}

#dialogue-text::before {
    content: '> ';
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#dialogue-text {
    max-width: 75%;
    max-height: 2.6em;
    overflow: hidden;
    scroll-behavior: smooth;
}

#dialogue-text::after {
    content: '█';
    margin-left: 0.1em;
}

#dialogue-continue {
    width: 5em;
    line-height: 0.4em;
    margin-top: 2em;
    margin-left: calc(37% - 2.5em);
}

#dialogue-continue:hover {
    background: #fff;
    color: #000;
}

#dialogue-character {
    position: absolute;
}

.round-white-border {
    border: 2px white solid;
    border-radius: 4px;
    text-shadow: none!important;
    text-align: center;
    height: 1em;
    background: black;
}

.active {
    background: #fff;
    color: #000;
}

.take-loot {
    opacity: 1;
}

#loot > div ~ div > .take-loot {
    opacity: 0.3;
}

.take-loot:hover {
    opacity: 1;
}

#encounter {
    position: absolute;
    left: -8px;
    top: -8px;
    width: calc(100% + 50px);
    height: 100vh;
    background: black;
    display: none;
}

#encounter-box {
    border: 2px white solid;
    border-radius: 4px;
}

#encounter-player {
    position: relative;
    font-size: 25px;
}