body {
    font-family: monospace;
    background: #333;
    user-select: none !important;
    font-size: 12px;
    color: white;
    overflow: hidden;
    padding: 30px;
    min-width: 1100px;
    -webkit-animation: glow 2.5s ease-in-out infinite alternate;
    -moz-animation: glow 2.5s ease-in-out infinite alternate;
    animation: glow 2.5s ease-in-out infinite alternate;
}

#hugeheading {
    font-size: 12em;
    position: absolute;
    width: 100%;
    text-align: center;
    left: calc(0px + 0.1em);
}

#by2kinc {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    top: calc(4em);
    clip: unset;
    transform: none !important;
}

#player {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 2;
}

#box {
    border: 2px solid #fff;
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    margin: auto;
    transition: all 1.5s;
    transition-timing-function: ease-in-out;
    transform-origin: 50% 50%;
    -webkit-animation: glow 2.5s ease-in-out infinite alternate;
    -moz-animation: glow 2.5s ease-in-out infinite alternate;
    animation: glow 2.5s ease-in-out infinite alternate;
}

.bullet {
    background: url(https://docs.google.com/drawings/d/e/2PACX-1vRvOD7wfLZjsv5S_O6hurMZnJO4u0vwxCyvgjk63VUl5phcveesBNzOi9PLn4gNSFir4lFm5sPxnFd8/pub?w=360&h=360);
    height: 18px;
    width: 18px;
    z-index: 3;
    position: absolute;
}

.card {
    border: 2px solid;
    padding: 10px;
    max-width: 250px;
    z-index: 4;
    background: #333;
    -webkit-animation: glow 2.5s ease-in-out infinite alternate;
    -moz-animation: glow 2.5s ease-in-out infinite alternate;
    animation: glow 2.5s ease-in-out infinite alternate;
}

.card div {
    margin: 0;
}

.left-side {
    float: left;
    position: relative;
}

.right-side {
    float: right;
    position: relative;
}

.heading {
    font-size: 18px;
}

#log {
    overflow: hidden;
    max-height: 100px;
    max-width: 250px;
}

#name:hover {
    background: #fff;
    color: #333;
}

#name:focus {
    background: #fff;
    color: #333;
}

#enemy {
    position: absolute;
    display: none;
    height: 20px;
    width: 20px;
    z-index: 2;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#enemy-health {
    position: absolute;
    text-align: center;
    display: none;
}

#fight-health {
    position: absolute;
    text-align: center;
    display: none;
}

#startscreen {
    z-index: 99;
    background: #333;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.shaded {
    color: #aaa;
}

.clickable {
    cursor: pointer;
}

.clickable::before {
    content: '[';
}

.clickable::after {
    content: ']';
}

.clickable:hover {
    background: #fff;
    color: #333;
}

.clickable:hover::before {
    content: '[ ';
}

.clickable:hover::after {
    content: ' ]';
}

td {
    -border-radius: 5px;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1em;
}

td.current {
    background-color: black !important;
}

#tooltip {
    display: none;
    position: absolute;
    z-index: 1000;
    box-shadow: 1px 1px 6px 0px #333333;
    max-width: 120px;
}


@-webkit-keyframes glow {
    0% {
        color: #fff;
        border-color: #fff !important;
    }

    10% {
        color: rgb(216, 198, 243);
        border-color: rgb(216, 198, 243) !important;
    }

    20% {
        color: rgb(253, 222, 176);
        border-color: rgb(253, 222, 176) !important;
    }

    30% {
        color: rgb(253, 249, 197);
        border-color: rgb(253, 249, 197) !important;
    }

    40% {
        color: #fff;
        border-color: #fff !important;
    }

    100% {
        color: #fff;
        border-color: #fff !important;
    }
}

hr {
    border: 1px solid;
    -webkit-animation: glow 2.5s ease-in-out infinite alternate;
    -moz-animation: glow 2.5s ease-in-out infinite alternate;
    animation: glow 2.5s ease-in-out infinite alternate;
}

#credits {
    font-size: 3em;
    position: absolute;
    display: none;
    background: black;
    color: white;
    width: 100%;
    height: 300vh;
    line-height: 300vh;
    padding: 1em 0;
    left: 0;
    z-index: 100000;
    text-align: center;
}

#credits>span {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
}

@keyframes creditsroll {
    from {
        top: 0;
    }

    to {
        top: -200vh;
    }
}
